<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MessagesPath" value="C:\Users\yousefa\Desktop\Other Projects\Projects\Projects\Tax API\SigmaJoFotra Windows service\SigmaJoFotraWS\Message"/>
		<add key="StartTimeInterval" value="1000"/>
		<add key="Orchestration_AA" value="Activation.txt@1@http://localhost:8080/SigmaJofotraAPI"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
